.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.playwright-cli/
*.egg-info/
.env
data/
logs/

.minio_data/
data/phase-2/

.pg_data/
warehouse/logs/
warehouse/target/
warehouse/dbt_packages/
warehouse/.user.yml
